<div class="eruda-dev-tools">


    
    
    
    <!-- ================================ TOOLBAR ================================ -->
    <div class="eruda-toolbar">
        <div class="eruda-drag-btn eruda-drag-btn-top eruda-drag-btn-left"><span></span></div>
        <div class="eruda-toolbar-scrollcontainer">
            <span class="eruda-toolbar-spacer"></span>
            <div class="eruda-tweak-group">
                <div class="eruda-toolbar-icon eruda-toolbar-select"></div>
                <div class="eruda-toolbar-icon eruda-toolbar-highlight"></div>
                <div class="eruda-toolbar-icon eruda-toolbar-borderall"></div>
                <div class="eruda-toolbar-icon eruda-toolbar-contentedit"></div>
                <!--div class="eruda-btn eruda-refresh"><span class="eruda-icon eruda-icon-refresh"></span></div>
                <div class="eruda-btn eruda-reset"><span class="eruda-icon eruda-icon-reset"></span></div-->
            </div>
            <!--div class='eruda-toolbar-sparator'>•</div-->
            <div class="eruda-toolbar-tools">
                <!-- eruda dev tools go here -->
            </div>
            <span class="eruda-toolbar-spacer"></span>
        </div>
        <div class="eruda-drag-btn eruda-drag-btn-top eruda-drag-btn-right"><span></span></div>
    </div>
    
    
    
    
    
    <!-- ================================ TOOLS ================================ -->
    <div class="eruda-tools">
        <!-- Tool content go here -->
    </div>
    
    
    
    
    
    <!-- ================================ DRAG BTN BOTTOM ================================ -->
    <div class="eruda-drag-btn eruda-drag-btn-bottom eruda-drag-btn-left"><span></span></div>
    <div class="eruda-drag-btn eruda-drag-btn-bottom eruda-drag-btn-right"><span></span></div>
    
    
    
    
    
</div>