<div class="eruda-side-left">
        
    <!--================= DOM TREE =================-->
    <div class="eruda-dom eruda-scrollcontainer-left">
        <div class="eruda-scrollcontent">
            <h1>Dom tree</h1>
            <ul class="eruda-dom-tree"></ul>
        </div>
    </div>
    <!--================= /dom tree =================-->
    
    <div class="eruda-expand-side-right">❯</div>
    
</div><!--



--><div class="eruda-side-right">

    <!--================= INSPECT =================-->
    <!--div class="eruda-inspect-tools">
        <div class="eruda-btn eruda-select">
            <span class="eruda-icon eruda-icon-select"></span>
        </div>
        <div class="eruda-btn eruda-refresh">
            <span class="eruda-icon eruda-icon-refresh"></span>
        </div>
        <div class="eruda-btn eruda-highlight">
            <span class="eruda-icon eruda-icon-eye"></span>
        </div>
        <div class="eruda-btn eruda-reset">
            <span class="eruda-icon eruda-icon-reset"></span>
        </div>
    </div-->
    
    <!--================= ELEMENT PROPERTIES =================-->
    <div class="eruda-element-properties">
        <div class="eruda-show-area eruda-scrollcontainer-right"></div>
    </div>

</div>