@import '../style/variable';
@import '../style/mixin';

.dev-tools {
  .tools {
    .info.tool {
      height:100%;
      
      .scrollcontainer{ height:100%; overflow-y:auto; }
      
      /*ul{overflow:auto;}*/
      li {
        /*border-radius: $border-radius;
        background: #fff;*/
        margin: 10px;
        /*box-shadow: $box-shadow;*/
        .title,
        .content {
          padding: $padding;
        }
        .title {
          padding-bottom: 0;
          font-size: /*$font-size-l*/ 17px;
          color: /*$blue*/ #fe7e00; /*Ju*/
        }
        .content {
          margin: 0;
          user-select: text;
          word-break: break-all;
          table {
            width: 100%;
            border-collapse: collapse;
            background-color:white;
            th,
            td {
              border: 1px solid $gray-light;
              padding: 10px;
            }
          }
          * {
            user-select: text;
          }
          a {
            color: $blue;
          }
        }
        .device-key,
        .system-key {
          width: 100px;
        }
      }
    }
  }
}
