<div class="eruda-snippets-scrollparent">
    <div class="eruda-snippets-scrollchild">
        <!-- Ju: escape last div newline
        {{#each snippets}}
            --><div class="eruda-sectioncontainer">
                <div class="eruda-section eruda-run eruda-snippet" data-idx="{{@index}}"><!-- Ju -->
                    <h2 class="eruda-name">{{name}}
                        <div class="eruda-btn">
                            <span class="eruda-icon-play"></span>
                        </div>
                    </h2>
                    <div class="eruda-description">
                        {{desc}}
                    </div>
                </div>
            </div><!--
        {{/each}}
        -->
    </div>
</div>