<div class='eruda-navigation'>
            
    <div class="eruda-navigation-scrollcontainer">
        <div class="eruda-navigation-container">
            
            <!--div>
                <h2>History</h2>
                <a href="#">https://example.com/</a>
                <a href="#">https://example.com/</a>
                <a href="#">https://example.com/</a>
                <a href="#">https://example.com/</a>
                <a href="#">https://example.com/</a>
            </div-->
            
            <div>
                <h2>Shortcuts</h2>
                <a href="https://duckduckgo.com/">https://duckduckgo.com/</a>
                <a href="https://google.com/">https://google.com/</a>
            </div>
            
            <div>
                <h2>Infos</h2>
                <div class="eruda-navigation-info">
                    <!-- info tpl go here -->
                </div>
            </div>
            
        </div>
    </div><!-- NAVIGATION SCROLL CONTAINER -->
    
</div>